body { width: 33em; margin: 1in auto; }
 
h1, h2 { font-family: "Gill Sans", sans-serif;  font-weight: 300; }
 
p {
  line-height: 1.3; 
  /*text-indent: 1em;*/
  padding: 0;
  margin: 0;
  margin-top: .75em;
}
 
.name { font-variant: small-caps; }
 
.note { margin-bottom: 1em; font-size: 90%; }
.note p:first-child { text-indent: 0; }
 
.note_ref { vertical-align: 75%; font-size: 60%; }
.note_number { font-size: 100%; }
 
.comments { 
    border-top: thin solid black;
    margin-top: 1em; 
    padding-top: 1em; 
}
.comment_ref { vertical-align: 75%; font-size: 60%; font-variant: small-caps;  }
.comment_number { vertical-align: 75%; font-size: 60%; }
 
 
h1 + p { text-indent: 0; }
h2 + p { text-indent: 0; }
h3 + p { text-indent: 0; }
li p { text-indent: 0; }
 
 
/*pre + p { text-indent: 0; }*/
