body {
  text-align: center;
  background: #445066;
  font-family: Times New Roman, serif;
}

.leftbox {
  float: left;
  margin: 1ex;
  text-align: center;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
}

#cover {
  width: 159px;
  height: 200px;
  border: 1px #000 solid;
}

#main {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border: 1px #000 solid;
  width: 700px;
}

h1, h2, h4 {
  text-align: center;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  margin-bottom: 0;
}

h3 {
  text-align: center;
}

h3, h5, ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

h1 {
  letter-spacing: -0.1ex;
}

h2, h6 {
  font-size: 100%;
  margin-bottom: 0;
}

h6 {
  margin-left: 1em;
}

p {
  margin-left: 1em;
  margin-right: 1em;
}

.body {
  margin-left: 200px;
}
